<!DOCTYPE html>
<html>
  <head>
    <title>Parcel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill out the form to calculate the volume and price of your package.</h1>
    <form action="/price" method="post">
      <label for="width">Width</label>
      <input id="width" name="width" type="number">
      <label for="length">Length</label>
      <input id="length" name="length" type="number">
      <label for="height">Height</label>
      <input id="height" name="height" type="number">
      <label for="weight">Weight in pounds</label>
      <input id="weight" name="weight" type="number">
      <button type="submit">Calculate</button>
    </form>
  </body>
</html>